@import "bootstrap.min.css";
@import "variables";
@import "utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h3 {
  color: @blue;
  font-weight: 600;
}

.navbar {
  padding: 0 1rem;

  .navbar-toggler {
    margin: 0.5rem 0;
  }

  .nav-item {
    &.active {
      background-color: @blue;

      .nav-link {
        color: @white;
      }
    }

    .nav-link {
      padding: 0.9rem;
    }
  }
}

.copyright {
  background-color: @grey;
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  .card-title {
    font-size: 0.8rem;
  }
}
