.results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 0;
  font-size: 3rem;
  border: 1px solid #fcfbe7;
  margin: 2rem 0;
  &__round,
  &__choices,
  &__winner {
    margin: 0 2rem;
  }
  &__final {
    text-align: center;
    flex-basis: 100%;
    &__over {
      padding: 2rem 0;
    }
  }
}
